// GLOBAL VARIABLES
// add your global variables here

// for example:

// $base-colour:   yellow

// $font-stack-serif: Georgia, Times, serif
// $font-stack-sans-serif: Helvetica, Arial, sans-serif

// $brand-color: pink
// $font-size-base: 18px

$tile-bg: #16BA70

$main-font: 'Roboto Mono', monospace

$my-grey: #BCBCBC

$primary-color-light: #59FBB2