<div style="background-color:#21315A; float:left; display:block; height:100%;">

<img style="display: block;margin: 0 auto;width:500px;" src="../assets/img/happyPlanet.gif"/>
<button class="tile" style="width:22%;" onclick="window.location.href = '/index';">Login/Create Account</button>
<h4>
WasteNot! provides a service that allows users to connect with other people to take unwanted items off their hands. 
Items can be anything from recyclables, used items, or furniture. 
Users can also accept requests and pick up unwanted items from other users. 
Create an account or log in to get started!    
</h4>
</div>