<h1>Waste Not</h1>

<h4>
Waste Not provides a service that allows users to connect with other people to get take unwanted items off their hands. Items can be anything from recyclbles to furniture. Users can also accept requests and pick up unwanted items from other users. Create an account or log in to get started!    
</h4>

<button onclick="window.location.href = '/index';">Login/Create Account</button>