
<h4>login/create account</h4>
<form id="login">
    <div class="form-group">
        <label for="userName">Username: </label>
        <input type="text" class="form-control" id="userName">
        <br>
        <label for="password">Password: </label>
        <input type="text" class="form-control" id="password">
        <br>
        <select style="all:unset;" name="account" id="accountType">
            <option style="all:unset;" value="customer">Customer Login</option>
            <option style="all:unset;" value="driver">Driver Login</option>
        </select>

        {{!-- SENDS DIRECTLY TO REQUESTS, NO WAY TO ADD VALIDATORS YET --}}
        <button type="submit" class="btn btn success submit" onclick="window.location.href = '/requests';">Login</button>
    </div>
</form>

<button onclick="window.location.href = '/requests';">Log in as Customer</button>

<button onclick="window.location.href = '/drive';">Log in as Driver</button>

<script>
    // Getting username & pw to database.
    $(document).ready(function() {
        // Submit button id.
        var login = $("#login");

        // Data from input forms.
        var userName = $("#userName");
        var password = $("#password");

        // To either insert into Customers or Drivers table depending on accountType selection. Right now everything is going to Customers table.
        var accountType = $("#accountType");


        $(login).on("submit", userLogin);

        function userLogin(event) {
            event.preventDefault();
            
            // If empty don't submit.
            if (!userName.val().trim() || !password.val().trim()){
                return;
            }

            // Create object to send to backend,
            var loginData = {
                username: userName.val().trim(),
                password: password.val().trim(),
            };

            console.log(loginData);
            //sending to back end
            submitLogin(loginData);

        }

        function submitLogin (post){
            $.post("/api/login", post, function() {
                console.log("login submitted");
            });
        }
    });


    


</script>


