
<h4>create account</h4>
<form id="login">
    <div class="form-group">
        <label for="userName">Username: </label>
        <input type="text" class="form-control" id="userName">
        <br>
        <label for="password">Username: </label>
        <input type="text" class="form-control" id="password">
        <br>
        <select style="all:unset;" name="account" id="accountType">
            <option style="all:unset;" value="customer">Customer Login</option>
            <option style="all:unset;" value="driver">Driver Login</option>
        </select>
        <button type="submit" class="btn btn success submit" >Create Account</button>
    </div>
</form>

<hr>
<hr>

<h4>Login</h4>
<form id="existLogin">
    <div class="form-group">
        <label for="existUserName">Username: </label>
        <input type="text" class="form-control" id="existUserName">
        <br>
        <label for="existPassword">Username: </label>
        <input type="text" class="form-control" id="existPassword">
        <br>
        <select style="all:unset;" name="existAccount" id="existAccountType">
            <option style="all:unset;" value="customer">Customer Login</option>
            <option style="all:unset;" value="driver">Driver Login</option>
        </select>
        <button type="submit" class="btn btn success submit" >Login</button>
    </div>
</form>

<hr>
<hr>

<button onclick="window.location.href = '/requests';">Log in as Customer</button>

<button onclick="window.location.href = '/drive';">Log in as Driver</button>

<script>
    $(document).ready(function() {

    //create account form

        var userName = $("#userName");
        var password = $("#password");
        var accountType = $("#accountType");
        var login = $("#login");


        $(login).on("submit", userLogin);

        function userLogin(event) {
            event.preventDefault();
            
            if (!userName.val().trim() || !password.val().trim()){
                return;
            }
            console.log(userName.val().trim());
            console.log(password.val().trim());
            console.log(accountType.val());

            var loginData = {
                login_username: userName.val().trim(),
                login_password: password.val().trim(),
                account_type: accountType.val()
            };

            console.log(loginData);
            //sending to back end
            submitLogin(loginData);

        }

        function submitLogin (post){
            $.post("/api/login", post, function() {
                console.log("login submitted")
            });
        }

    // existing user login form

        var existUserName = $("#existUserName");
        var existPassword = $("#existPassword");
        var existAccountType = $("#existAccountType");
        var existLogin = $("#existLogin");


        $(existLogin).on("submit", existUserLogin);

        function existUserLogin(event) {
            event.preventDefault();
            
            if (!existUserName.val().trim() || !existPassword.val().trim()){
                return;
            }
            console.log(existUserName.val().trim());
            console.log(existPassword.val().trim());
            console.log(existAccountType.val());

            var existLoginData = {
                exist_login_username: existUserName.val().trim(),
                exist_login_password: existPassword.val().trim(),
                exist_account_type: existAccountType.val()
            };

            console.log(existLoginData);
            //sending to back end
            submitExistLogin(existLoginData);

        }

        function submitExistLogin (post){
            $.post("/api/existlogin", post, function() {
                console.log("login submitted")
            });
        }
    });

</script>


