
<h4>create account</h4>
<div class="jumboForm">
<h4>login/create account</h4>
<form id="login">
    <div class="form-group jumboFrom">
        <label for="userName">Username: </label>
        <input type="text" class="form-control" id="userName">
        <br>
        <label for="password">Password: </label>
        <input type="text" class="form-control" id="password">
        <br>
        <select style="all:unset;color:#FFF;" name="account" id="accountType">
            <option style="all:unset;" value="customer">Customer Login</option>
            <option style="all:unset;" value="driver">Driver Login</option>
        </select>
        <button type="submit" class="tile success submit" style="left:30%;" >Login</button>

        {{!-- SENDS DIRECTLY TO REQUESTS, NO WAY TO ADD VALIDATORS YET --}}
        <button type="submit" class="btn btn success submit" onclick="window.location.href = '/requests';">Login</button>
    </div>
</form>
</div>

<button class="tile" onclick="window.location.href = '/requests';">Log in as Customer</button>

<button class="tile" onclick="window.location.href = '/drive';">Log in as Driver</button>

<script>
    // Getting username & pw to database.
    $(document).ready(function() {
        // Submit button id.
        var login = $("#login");

        // Data from input forms.
        var userName = $("#userName");
        var password = $("#password");

        // To either insert into Customers or Drivers table depending on accountType selection. Right now everything is going to Customers table.
        var accountType = $("#accountType");


        $(login).on("submit", userLogin);

        function userLogin(event) {
            event.preventDefault();
            
            // If empty don't submit.
            if (!userName.val().trim() || !password.val().trim()){
                return;
            }

            // Create object to send to backend,
            var loginData = {
                username: userName.val().trim(),
                password: password.val().trim(),
            };

            console.log(loginData);
            //sending to back end
            submitLogin(loginData);

        }

        function submitLogin (post){
            $.post("/api/login", post, function() {
                console.log("login submitted");
            });
        }

    // existing user login form

        var existUserName = $("#existUserName");
        var existPassword = $("#existPassword");
        var existAccountType = $("#existAccountType");
        var existLogin = $("#existLogin");


        $(existLogin).on("submit", existUserLogin);

        function existUserLogin(event) {
            event.preventDefault();
            
            if (!existUserName.val().trim() || !existPassword.val().trim()){
                return;
            }
            console.log(existUserName.val().trim());
            console.log(existPassword.val().trim());
            console.log(existAccountType.val());

            var existLoginData = {
                exist_login_username: existUserName.val().trim(),
                exist_login_password: existPassword.val().trim(),
                exist_account_type: existAccountType.val()
            };

            console.log(existLoginData);
            //sending to back end
            submitExistLogin(existLoginData);

        }

        function submitExistLogin (post){
            $.post("/api/existlogin", post, function() {
                console.log("login submitted")
            });
        }
    });


    


</script>


