<div class="jumboForm">
<h4>login/create account</h4>
<form id="login">
    <div class="form-group jumboFrom">
        <label for="userName">Username: </label>
        <input type="text" class="form-control" id="userName">
        <br>
        <label for="password">Password: </label>
        <input type="text" class="form-control" id="password">
        <br>
        <select style="all:unset;color:#FFF;" name="account" id="accountType">
            <option style="all:unset;" value="customer">Customer Login</option>
            <option style="all:unset;" value="driver">Driver Login</option>
        </select>
        <button type="submit" class="tile success submit" style="left:30%;" >Login</button>
    </div>
</form>
</div>

<button class="tile" onclick="window.location.href = '/requests';">Log in as Customer</button>

<button class="tile" onclick="window.location.href = '/drive';">Log in as Driver</button>

<script>
    $(document).ready(function() {

        var userName = $("#userName");
        var password = $("#password");
        var accountType = $("#accountType");
        var login = $("#login");


        $(login).on("submit", userLogin);

        function userLogin(event) {
            event.preventDefault();
            
            if (!userName.val().trim() || !password.val().trim()){
                return;
            }
            console.log(userName.val().trim());
            console.log(password.val().trim());
            console.log(accountType.val());

            var loginData = {
                login_username: userName.val().trim(),
                login_password: password.val().trim(),
                account_type: accountType.val()
            };

            console.log(loginData);
            //sending to back end
            submitLogin(loginData);

        }

        function submitLogin (post){
            $.post("/api/login", post, function() {
                console.log("login submitted")
            });
        }
    });

</script>


