<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<h2>All Customer Printed Here</h2>
{{#each customers}}
Customer Name: {{this.customer_name}} <br>
Customer Item: {{this.item_name}}<br>
Estimated Weight: {{this.estimated_weight}}<br>
Customer Location: {{this.item_location}}<br>
 {{/each}}


    
</body>
</html>