
<p>Enter a Username: </p><input type="text" class="login-form" id="username"><br><br>
<p>Enter a Password: </p><input type="text" class="login-form" id="password">


<button onclick="window.location.href = '/requests';">Log in as Customer</button>

<button onclick="window.location.href = '/drive';">Log in as Driver</button>
