
<button onclick="window.location.href = '/requests';">Request</button>

<button onclick="window.location.href = '/drive';">Drive</button>

<button onclick="window.location.href = '/track';">Track Request</button>



<div>
<h2>All Customer Printed Here</h2>
<div class="data">
{{#each customers}}
<p class="tile">Customer Name: {{this.customer_name}} </p>
<p class="tile">Customer Item: {{this.item_name}}</p>
<p class="tile">Estimated Weight: {{this.estimated_weight}}</p>
<p class="tile">Customer Location: {{this.item_location}}</p>
 {{/each}}
 </div>
</div>
