<style>
  .loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db; 
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>
<button onclick="window.location.href = '/';">Home</button>
<br>
<br>
<div class="welcome">
{{!--     Username here when ready --}}    
    <h2>Recycling Service in the next 10 minutes.</h2>
    <div id="instructions">
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias illum nesciunt eos quas deserunt aliquid, officia doloremque corporis esse neque. Nesciunt sequi ipsam ratione possimus temporibus minus officia dolorem nobis.</p>
     <br><br>
    </div>
</div>

<form id="cms">
    <div class="form-group">
        <br />
        <label for="item_name">Item Name</label>
        <input placeholder="Recyclables" type="text" class="form-control" id="item_name">
        <br />
        <label for="estimated_weight">Estimated Weight (lbs): </label>
        <input placeholder="15 lbs" type="text" class="form-control" id="estimated_weight">
        <br />
        <label for="item_location">Item Location: </label>
        <input placeholder="Los Angeles" type="text" class="form-control" id="item_location">

        <br/>
        <button type="submit" class="submit tile">Submit</button>
    </div>
</form>

<br><br>

<div id="currentRequests">
    <h2>Requests On The Way</h2>

    <table>
  <tr>
    <th>Your Drivers' Name</th>
    <th>Items</th>
    <th>Location</th>
    <th>Weight</th>
    <th>Status</th>
  </tr>
{{!-- Run Handlebars for loop here once driver side is done --}}
{{#each requests}}
{{/each}}
</table>
    
</div>

<br><br>



<div id="logs">
<button type="submit" class="btn btn-success submit">See logs</button>
</div>

<br><br>

<div class="loader"></div>



<script>
 $(document).ready(function() {

 
var cItemName = $("#item_name");
var cEstWeight = $("#estimated_weight");
var cItemLocation = $("#item_location");
var cmsForm = $("#cms");


// On click listener for when customer submits form.
$(cmsForm).on("submit", handleFormSubmit);

// Function prevents empty slots, creates an object with customer's data & posts it to the backend. Can be seen in the requests db.
function handleFormSubmit(event) {
    event.preventDefault();
    // Will not submit unless every field has data.
    if (!cItemName.val().trim() || !cEstWeight.val() || !cItemLocation.val() ) {
      return;
    }
    // Take data from form & make a new object for database to read.
    var newCustomer = {
      item: cItemName.val().trim(),
      weight: cEstWeight.val().trim(),
      location: cItemLocation.val().trim()
    };

    console.log(newCustomer);

    // Sending to the backend.
    submitCustomer(newCustomer);
  }

function submitCustomer (post){
    $.post("/api/requests", post, function() {
    console.log("New request data has been posted!");
});
}
});
</script>