* {
  position: relative;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

body {
  background-color: rgba(227, 250, 242, 0.8); }

h2 {
  text-align: center;
  color: #FFFFFF;
  width: 100%;
  padding: 3%;
  margin: 0;
  background-color: #28b485; }

div {
  width: 100%; }

.data {
  margin: 1% auto;
  width: 30%;
  text-align: center;
  background-color: #7ed56f;
  border-radius: 20px; }

.tiles {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 330px; }

.tile {
  animation: 1s ease 0s pulse infinite;
  background: #cfcfdf;
  border-radius: 4px;
  float: left;
  height: 75px;
  margin: 5px;
  width: 100px; }

.tile:nth-child(1) {
  animation-delay: 0.05556s; }

.tile:nth-child(2) {
  animation-delay: 0.11111s; }

.tile:nth-child(3) {
  animation-delay: 0.16667s; }

.tile:nth-child(4) {
  animation-delay: 0.22222s; }

.tile:nth-child(5) {
  animation-delay: 0.27778s; }

.tile:nth-child(6) {
  animation-delay: 0.33333s; }

.tile:nth-child(7) {
  animation-delay: 0.38889s; }

.tile:nth-child(8) {
  animation-delay: 0.44444s; }

.tile:nth-child(9) {
  animation-delay: 0.5s; }

@keyframes pulse {
  0% {
    background: #cfcfdf;
    transform: scale(1); }
  25% {
    background: #b0b0cb;
    transform: scale(1.015); }
  50% {
    background: #cfcfdf;
    transform: scale(1); } }
