
*
    position: relative
    

body
    background-color: rgba(227, 250, 242, 0.8)
    font-family: $monospace


h2
    text-align: center
    color: pink
    width: 100%
    padding: 3%
    margin: 0%
    background-color: $primary-color-dark
    


div
    width: 100%
    


.data
    margin: 1% auto
    width: 30%
    text-align: center
    background-color: $primary-color-light
    border-radius: 20px


